@import "@radix-ui/themes/styles.css";
html,body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.root-theme{
  display: flex;
  flex-direction: column;
}
.root-background{
  background: linear-gradient(to bottom, var(--accent-2), transparent);
  
}
.cl-userButtonPopoverFooter{
  display: none !important;
}
.cl-footer{
  display: none !important;
}
